* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.logo-container {
    margin-left : 10%;
    width : 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.logo-container a{
    display: flex;
    width: 100%;
    height: 100%;
}
.logo-container img {
    width: 100%;
    height: 100%;
    
}
header, nav, section, footer {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

header {
    height:10%;
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
}


nav {
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #0044cc;
    color: white;
    box-sizing: border-box; 
    height: 6%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.main {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    box-sizing: border-box;
}

.main-content {
    flex-grow: 6;
    margin: 0 10px;
    background-color: #e9e9e9;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.content {
    flex-grow: 3;
    margin: 0 10px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar {
    flex-grow: 0.5;
    margin: 0px;
    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.notice-board, .gallery {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
}

.search-wrapper {
  display: flex;
  align-items: stretch;
  width: 40%;
  height: 5%;
  border-radius: 4px;
  border: 2px solid #4ba4db;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-label {
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: #4ba4db;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.search-container {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: white;
  padding: 0 15px;
}

.search-input {
  display: flex;
  flex-grow: 0.9;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
}
.search-form {
  height:100%;
  display: flex;  
 justify-content: center;
 align-items: center;
  flex-grow: 1;
  background-color: white;
}
.search-button {
    flex-grow: 0.2;
    background-color: #4ba4db;
    height: 80%;
    border-radius: 10%;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #4ba4db;
  }
  
  /* Optional: Add some hover effects */
  .search-wrapper:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .content-right-container {
    flex-grow: 1;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}
  .login-container {
    flex-grow: 1;
    height:20%;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .login-btn a{
    background-color: #4ba4db; /* 네이버 그린 컬러 */
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 버튼 hover 효과 */
.login-btn a:hover{
    background-color: #4ba4db;
}

/* 하단 링크 스타일 */
.login-links {
    margin-top: 20px;
    color: #555;
    font-size: 14px;
}


.login-links a {
    text-decoration: none;
    color: #777;
    margin: 0 15px;
}


.login-links a:hover {
    text-decoration: underline;
    color: #000;
}
.menu-item {
    flex-grow:1;
    position: relative;
    padding: 6px 20px;
    color: white;
    cursor: pointer;
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown {
    display: none;              /* 기본적으로 숨김 */
    position: absolute;
    width: 100vw;
    left: -20.5vw;          /* 메뉴 아래에 위치 */
    top : 100%;
    background-color: #4ba4db;  /* 드롭다운 배경색 */
    border: 1px solid #ccc;     /* 드롭다운 외곽선 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 드롭다운 그림자 */
    z-index: 1000;              /* 다른 요소 위에 표시 */
    padding: 10px;
    height:95%; 
    justify-content: center;
    align-items: center;
    
}
.menu-item:hover {
    background-color: #4ba4db;   /* 메뉴 아이템의 배경색 변경 */
    background-clip: content-box;
    border-radius : 6px;
}
.dropdown-item {
    padding: 10px 20px;        /* 드롭다운 아이템 여백 */
    color:white;
}

.menu-item:hover .dropdown {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    
    
}
.menu-item a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 120%;
}
.menu-item a:hover {
    margin: 0 15px;
    padding : 3%;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 120%;
}
.menu-item a:active
{ margin: 0 15px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 120%;
}
.menu-item a:visited
{margin: 0 15px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 120%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열로 구성하여 9개 배치 */
    gap: 1rem; /* 각 갤러리 아이템 사이의 간격 */
    padding: 1rem;
    justify-items: center; /* 아이템을 중앙 정렬 */
}

.gallery-item {
    width: 100%; /* 모든 아이템의 너비를 동일하게 */
    height: 200px; /* 동일한 높이 지정 */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 84%; /* 이미지 영역의 비율 조정 */
    object-fit: cover;
}

.gallery-item .title {
    padding: 0.5rem;
    text-align: center;
    background-color: #f0f0f0; /* 배경 색 조정 */
}
@media (max-width: 768px) {
    .gallery-item {
        width: calc(50% - 1rem);
    }
}
.gallery-item .title {
    padding: 0.5rem;
    text-align: center;
    background-color: #f0f0f0;
    font-size: 1rem; /* 글자 크기 조정 */
    color: #333; /* 텍스트 색상 조정 */
    text-decoration: none; /* 밑줄 제거 */
    transition: color 0.3s, transform 0.3s; /* 호버 애니메이션 추가 */
}

.gallery-item .title:hover {
    color: #007bff; /* 호버 시 색상 변경 */
    transform: scale(1.05); /* 살짝 확대되는 효과 */
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

.search-results-container {
    width: 100%;
}

/* 개별 검색 보드 스타일 */
.search-board {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* 검색 보드 제목 스타일 */
.search-board h2 {
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
}

/* 검색 결과 리스트 스타일 */
.search-board-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

/* 검색 결과 아이템 스타일 */
.search-board-item {
    margin-bottom: 5px;
    text-align: left;
}

/* 검색 결과 링크 스타일 */
.search-board-item a {
    color: #2c3e50;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    width: 100%;
}

.search-board-item a:hover {
    color: #3498db;
}

/* '더보기' 링크 컨테이너 스타일 */
.search-board-item.more-link {
    width : 19%;
    text-align: right;
    margin-top: 10px;
    margin-left :auto;
}

/* '더보기' 링크 스타일 */
.search-plus-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
}

.search-plus-link:hover {
    background-color: #e0e0e0;
}

.board-read-container {
    flex-grow: 6;
    margin: 0 10px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.board-read-header {
    border-bottom: 2px solid #333; /* 제목과 작성자, 일시 그룹에 밑줄 추가 */
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative; /* 작성일시를 오른쪽으로 배치하기 위한 설정 */
}

.board-read-title {
    color: #333;
    margin: 0;
    font-size: 24px;
}

.board-read-meta {
    display: flex;
    justify-content: space-between; /* 작성자와 작성일시를 한 줄로 배치 */
    align-items: center; /* 작성자와 일시를 같은 높이에 맞춤 */
    font-size: 14px;
    color: #666;
    margin-top: 5px; /* 제목과 약간의 간격 추가 */
}

.board-read-date {
    font-size: 14px;
    color: #666;
}

.board-read-author {
    align-self: flex-start; /* 작성자가 제목 아래에 자연스럽게 위치하도록 설정 */
    margin-top: 5px;
}

.board-update-content {
    min-height: 50vh;                  /* 페이지 절반 이상 차지하도록 설정 */
    margin-bottom: 20px;               /* 아래쪽 여백 설정 */
    padding: 10px 0;                   /* 상하 패딩 추가 */
    border-bottom: 1px solid #ddd;     /* 하단 테두리 설정 */
    box-sizing: border-box;            /* 패딩과 테두리를 포함하여 전체 너비 계산 */
}

.board-update-content input {
    width: 100%;                       /* 전체 너비 사용 */
    padding: 10px;                     /* 입력 필드 내 여백 추가 */
    font-size: 18px;                   /* 글자 크기 설정 */
    color: #333;                       /* 텍스트 색상 설정 */
    border: none;                      /* 테두리 제거 */
    background-color: transparent;     /* 배경을 투명하게 설정 */
    outline: none;                     /* 포커스 시 아웃라인 제거 */
    box-sizing: border-box;            /* 패딩과 테두리를 포함하여 전체 너비 계산 */
}

.board-read-info {
    display: flex;
    align-items: center;
    gap: 15px; /* 요소 간의 간격 조정 */
    margin-top: 10px;
}

.board-read-label {
    font-weight: bold;
    display: inline-block;
}

.board-read-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.board-read-button:hover {
    background-color: #0056b3;
}

.board-update-container {
    flex-grow: 6;
    margin: 0 10px;	
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.board-update-header {
    border-bottom: 2px solid #333; /* 제목과 작성자, 일시 그룹에 밑줄 추가 */
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative; /* 작성일시를 오른쪽으로 배치하기 위한 설정 */
}

input.board-update-title {
    color: #333;                      /* 텍스트 색상 */
    margin: 0;                        /* 외부 여백 설정 */
    font-size: 24px;                  /* 글자 크기 설정 */
    font-weight: bold;                /* h1과 같은 굵기 설정 */
    border: none;                     /* 입력 필드의 테두리 제거 */
    width: 100%;                      /* 전체 너비 사용 */
    padding: 0;                       /* 입력 필드 내 여백 제거 */
    outline: none;                    /* 포커스 시 생기는 아웃라인 제거 */
    background-color: transparent;    /* 배경을 투명하게 설정 */
    line-height: 1.2;                 /* 줄 높이 설정 */
}


.board-update-meta {
    display: flex;
    justify-content: space-between; /* 작성자와 작성일시를 한 줄로 배치 */
    align-items: center; /* 작성자와 일시를 같은 높이에 맞춤 */
    font-size: 14px;
    color: #666;
    margin-top: 5px; /* 제목과 약간의 간격 추가 */
}

.board-update-date {
    font-size: 14px;
    color: #666;
}

.board-update-author {
    align-self: flex-start; /* 작성자가 제목 아래에 자연스럽게 위치하도록 설정 */
    margin-top: 5px;
}

.board-update-content {
    width: 100%;                       /* 전체 너비 사용 */
    padding: 10px;                     /* 입력 필드 내 여백 추가 */
    font-size: 18px;                   /* 글자 크기 설정 */
    color: #333;                       /* 텍스트 색상 설정 */
    border: none;                      /* 테두리 제거 */
    background-color: transparent;     /* 배경을 투명하게 설정 */
    outline: none;                     /* 포커스 시 아웃라인 제거 */
    box-sizing: border-box;     
}

.board-update-info {
    display: flex;
    align-items: center;
    gap: 15px; /* 요소 간의 간격 조정 */
    margin-top: 10px;
}

.board-update-label {
    font-weight: bold;
    display: inline-block;
}

.board-update-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.board-update-button:hover {
    background-color: #0056b3;
}

.attachment-item {
    margin-top: auto;
    margin-bottom: 10px;
}
.attachment-dropdown {
    position: relative;
    display: inline-block;
}
.attachment-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    min-width: 80%;
}
.attachment-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap; /* 줄바꿈 방지 */
}
.attachment--dropdown-content a:hover {
    background-color: #f1f1f1;
    white-space: nowrap; /* 줄바꿈 방지 */
}
.show {
    display: block;
    max-height: 200px;
    transition: max-height 0.3s ease-in;
}

.comment-content{
    width: 100;
}